﻿<%@ Page Title="" Language="C#" MasterPageFile="~/AdminPages/AdminPage.master" AutoEventWireup="true" CodeFile="ConsumerType.aspx.cs" Inherits="AdminPages_ConsumerType" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div align="center"  >
        <asp:Button ID="BB1" runat="server" Text="סוגי צרכן" OnClick="BB1_Click" />
        <asp:Button ID="BB2" runat="server" Text="הגדרות SMS" OnClick="BB2_Click" />
        <asp:Button ID="BB3" runat="server" Text="סוגי נתונים תכניים" OnClick="BB3_Click" />
        <asp:Button ID="BB4" runat="server" Text="מרכיבים רבים" OnClick="BB4_Click" />
        <br />
        <br />
    </div>
    <asp:MultiView ID="TabsView" runat="server">
        <asp:View runat="server" ID="Tab1">
            <asp:TextBox ID="tbIns" runat="server"></asp:TextBox>
            <asp:Button ID="btnIns" runat="server" Text="הוסף נתון" OnClick="btnIns_Click" />
            <br />
            <asp:GridView ID="GridType" runat="server" AutoGenerateColumns="False" BackColor="White" BorderColor="#DEDFDE" 
                BorderStyle="None" BorderWidth="1px" CellPadding="4" DataSourceID="SqlConsumerTypes" 
                ForeColor="Black" AutoGenerateEditButton="True" OnRowUpdating="GridType_RowUpdating">
                <AlternatingRowStyle BackColor="White" />
                <Columns>
                    <asp:BoundField DataField="ConTpID" HeaderText="Type ID" ReadOnly="True" SortExpression="ConTpID" />
                    <asp:BoundField DataField="ConTpName" HeaderText="Type Name" SortExpression="ConTpName" />
                </Columns>
                <FooterStyle BackColor="#CCCC99" />
                <HeaderStyle BackColor="#6B696B" Font-Bold="True" ForeColor="White" />
                <PagerStyle BackColor="#F7F7DE" ForeColor="Black" HorizontalAlign="Right" />
                <RowStyle BackColor="#F7F7DE" />
                <SelectedRowStyle BackColor="#CE5D5A" Font-Bold="True" ForeColor="White" />
                <SortedAscendingCellStyle BackColor="#FBFBF2" />
                <SortedAscendingHeaderStyle BackColor="#848384" />
                <SortedDescendingCellStyle BackColor="#EAEAD3" />
                <SortedDescendingHeaderStyle BackColor="#575357" />
            </asp:GridView>
        </asp:View>
        <asp:View runat="server" ID="Tab2">

            <asp:DropDownList runat="server" ID="ddConsumer" DataSourceID="SqlConsumers" DataTextField="Name" DataValueField="ID" style="margin-right: 0px" Width="140px">
                <asp:ListItem Text="text1" />
                <asp:ListItem Text="text2" />
            </asp:DropDownList>
            <asp:Button ID="btnIns0" runat="server" OnClick="btnIns0_Click" Text="הוסף נתון" />
            <br />
            <asp:GridView ID="GridSMS" runat="server" DataSourceID="SqlTablesSMS" 
                AutoGenerateEditButton="True" AutoGenerateColumns="False" BackColor="#DEBA84" 
                BorderColor="#DEBA84" BorderStyle="None" BorderWidth="1px" CellPadding="3" CellSpacing="2" 
                OnRowUpdating="GridSMS_RowUpdating" DataKeyNames="IDS" AutoGenerateDeleteButton="True" OnRowDeleting="GridSMS_RowDeleting">
                <Columns>
                    <asp:BoundField DataField="ConsID" HeaderText="Consumer" ReadOnly="True" />
                    <asp:BoundField DataField="LastRequest" HeaderText="Last Request" ReadOnly="True" />
                    <asp:BoundField DataField="CurrStatus" HeaderText="Status" ReadOnly="True" />
                    <asp:BoundField DataField="TelNoOn" HeaderText="Tel. for ON" />
                    <asp:BoundField DataField="TelNoOff" HeaderText="Tel. for OFF" />
                    <asp:BoundField DataField="TelInfo" HeaderText="Tel. Info" />
                    <asp:BoundField DataField="TextOn" HeaderText="Text ON" />
                    <asp:BoundField DataField="TextOff" HeaderText="Text OFF" />
                    <asp:BoundField DataField="TextInfo" HeaderText="Text Info" />
                </Columns>
                <FooterStyle BackColor="#F7DFB5" ForeColor="#8C4510" />
                <HeaderStyle BackColor="#A55129" Font-Bold="True" ForeColor="White" />
                <PagerStyle ForeColor="#8C4510" HorizontalAlign="Center" />
                <RowStyle BackColor="#FFF7E7" ForeColor="#8C4510" />
                <SelectedRowStyle BackColor="#738A9C" Font-Bold="True" ForeColor="White" />
                <SortedAscendingCellStyle BackColor="#FFF1D4" />
                <SortedAscendingHeaderStyle BackColor="#B95C30" />
                <SortedDescendingCellStyle BackColor="#F1E5CE" />
                <SortedDescendingHeaderStyle BackColor="#93451F" />
            </asp:GridView>
        </asp:View>
        <asp:View runat="server" ID="Tab3">
            <asp:Label Text="ID" runat="server" />
            <asp:TextBox ID="tbIns1" runat="server" Width="60px"></asp:TextBox>
            <br />
            <asp:Label Text="Name" runat="server" />
            <asp:TextBox ID="tbIns0" runat="server" Width="180px"></asp:TextBox>
            <br />
            <asp:Button ID="btnIns1" runat="server" OnClick="btnIns1_Click" Text="הוסף נתון" />
            <asp:GridView runat="server" ID="GridTechData" AutoGenerateColumns="False" 
                DataKeyNames="FactorID" DataSourceID="SqTechData" AutoGenerateEditButton="True" OnRowUpdating="GridTechData_RowUpdating">
                <Columns>
                    <asp:BoundField DataField="FactorID" HeaderText="ID" ReadOnly="True" SortExpression="FactorID" />
                    <asp:BoundField DataField="FactorName" HeaderText="Factor Name" SortExpression="FactorName" />
                    <asp:BoundField DataField="FactorParam" HeaderText="Param" SortExpression="FactorParam" />
                </Columns>
            </asp:GridView>
            <asp:SqlDataSource ID="SqTechData" runat="server" 
                ConnectionString="<%$ ConnectionStrings:Money_DisplayConnectionString3 %>" 
                SelectCommand="SELECT * FROM [T_FactorType]"></asp:SqlDataSource>
        </asp:View>
        <asp:View runat="server" ID="Tab4">
            <asp:GridView runat="server"></asp:GridView>
        </asp:View>
    </asp:MultiView>
    <asp:SqlDataSource ID="SqlConsumers" runat="server" 
        ConnectionString="<%$ ConnectionStrings:Money_DisplayConnectionString3 %>" 
        SelectCommand="SELECT sql_Consumer_ID AS ID, sql_Consumer_name AS Name FROM tbl_Consumers_0 
            WHERE sql_Consumer_ID NOT IN (SELECT ConsID FROM T_OnOffConsumer)">
    </asp:SqlDataSource>
    <br />
    <asp:SqlDataSource ID="SqlTablesSMS" runat="server" 
        ConnectionString="<%$ ConnectionStrings:Money_DisplayConnectionString3 %>" 
        SelectCommand="SELECT (SELECT sql_Consumer_name FROM tbl_Consumers_0 WHERE sql_Consumer_ID = ConsID) AS ConsID, 
            LastRequest, 
            CASE 
            WHEN CurrStatus = 0 THEN 'IS CLOSE'
            WHEN CurrStatus = 1 THEN 'IS OPEN' 
            ELSE 'Not Set' 
            END AS CurrStatus, 
            TelNoOn, TelNoOff, TelInfo, TextOn, TextOff, TextInfo, ConsID AS IDS
            FROM T_OnOffConsumer">
    </asp:SqlDataSource>
    <br />
    <asp:SqlDataSource runat="server" 
        ID="SqlConsumerTypes" 
        ConnectionString="<%$ ConnectionStrings:Money_DisplayConnectionString3 %>" 
        SelectCommand="SELECT [ConTpID], [ConTpName] FROM [T_ConsumerType]" >
    </asp:SqlDataSource>
</asp:Content>

