﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MemberRu.master.cs" Inherits="MemberPages_MemberRu" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="act" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../StyleSheet.css" rel="Stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            width: 1323px;
        }
    </style>
</head>
<body style="width: 100%">
    <form id="form1" runat="server" dir="ltr">
    <div align="left">
        <table style="width:100%">
            <tr>
                <td style="width:20%; vertical-align:top" class="UnprintedItem" >
                    <asp:TreeView ID="tvMenu" runat="server" CssClass="Menu" 
                        BackColor="White" BorderStyle="None" ExpandDepth="0" NodeWrap="True" 
                        Width="300px" onselectednodechanged="tvMenu_SelectedNodeChanged" 
                        EnableTheming="False" ImageSet="Simple" NodeIndent="10">
                        <HoverNodeStyle Font-Underline="True" ForeColor="#DD5555" />
                        <NodeStyle 
                            Font-Bold="False" Font-Names="Verdana" Font-Size="8pt" ForeColor="Black" HorizontalPadding="0px" NodeSpacing="0px" VerticalPadding="0px" />
                        <ParentNodeStyle Font-Bold="False" />
                        <SelectedNodeStyle Font-Underline="True" ForeColor="#DD5555" HorizontalPadding="0px" VerticalPadding="0px" />
                    </asp:TreeView>
                </td>
                <td style="width:80%; vertical-align:top" >
                   <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center" Width="100%" BackColor="#E0E0E0">
                <br />
                <br />
                <br />
                <div style="align-content:flex-start"   class="UnprintedItem">
                        <asp:ImageButton ImageUrl="~/SeenergImg/logo.png" runat="server" PostBackUrl="~/Login.en.aspx" />
                        <img src="../SeenergImg/pics.png" alt="Pics" />&nbsp;&nbsp;&nbsp;
                </div>
                <br />
            <div align="left">
                <asp:Menu ID="HorMenu" runat="server" Orientation="Horizontal" Font-Names="Arial" BackColor="#F1592A" class="UnprintedItem"
                    Font-Size="20px" staticsubmenuindent="30px" Width="100%" 
                    dynamichorizontaloffset="40" onmenuitemclick="HorMenu_MenuItemClick" 
                    StaticPopOutImageUrl="none"  
                    DynamicEnableDefaultPopOutImage="False" DynamicPopOutImageTextFormatString="" >

                <staticmenuitemstyle 
                    forecolor="White"
                    HorizontalPadding="30" ItemSpacing="20" 
                    BorderStyle="none" VerticalPadding="5" />

                <DynamicHoverStyle 
                    borderstyle="Solid"
                    borderwidth="2"
                    bordercolor="Gray"/>

                <DynamicMenuItemStyle 
                    BackColor="Gray" 
                    forecolor="White"
                    Font-Size="18px"
                    HorizontalPadding="20" VerticalPadding="6" ItemSpacing="5" Width="200px" />
                    <DynamicItemTemplate>
                        <%# Eval("Text") %>
                    </DynamicItemTemplate>
                    <Items >
                        <asp:MenuItem Text="Потребители" Value="Consumers" NavigateUrl="~/MemberPages/ConsumersListRu.aspx" >
                        </asp:MenuItem>
                        <asp:MenuItem Text="|"></asp:MenuItem>   
                        <asp:MenuItem Text="Технические данные" Value="0EncVariants" NavigateUrl="#" Enabled="false" >
                            <asp:MenuItem Text="Данные за неделю" Value="eData" 
                                NavigateUrl="~/MemberPages/EnchancedParametersRu.aspx">
                            </asp:MenuItem>
                            <asp:MenuItem Text="Данные за день" Value="DayData"
                                NavigateUrl="~/MemberPages/DaysParametersRu.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Данные за час" Value="HourData"
                                NavigateUrl="~/MemberPages/HourParametersRu.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Кумулятивный коэффициент мощности" Value="PFData"
                                NavigateUrl="~/MemberPages/FactorDataPlusRu.aspx"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="|"></asp:MenuItem>   
                        <asp:MenuItem Text="Оповещения" Value="0Alarms" NavigateUrl="#">
                            <asp:MenuItem Text="Оповещения" Value="AlarmList" NavigateUrl="~/MemberPages/AlarmsListRu.aspx"></asp:MenuItem>
                            <%--<asp:MenuItem Text="Error Log" Value="alarmlog" NavigateUrl="~/MemberPages/AlarmLogEn.aspx"></asp:MenuItem>--%>
                       </asp:MenuItem>
                         <asp:MenuItem Text="|"></asp:MenuItem>   
                       <asp:MenuItem Text="Оптимизация" Value="calc" NavigateUrl="#" Enabled="false" >
                            <asp:MenuItem Text="Графики сравнения" Value="EncCompare" 
                                NavigateUrl="~/MemberPages/CompareChartRu.aspx">
                            </asp:MenuItem>
 <%--                           <asp:MenuItem Text="Energy Consumption per User" Value="EncCalculate" 
                                NavigateUrl="~/MemberPages/CalculateEnergyStore.aspx">
                            </asp:MenuItem>--%>
                        </asp:MenuItem>
                    </Items>
                </asp:Menu>
            <div>
            <table width="100%" class="UnprintedItem">
               <tr>
                    <td colspan="3">
                     </td>
                </tr>
                <tr>
                    <td style="width:5%;" valign="top">
                        <div style="text-align:right; margin-right:10px" >
                            <asp:ImageButton ID="ImgAdmin" runat="server" ImageUrl="~/SeenergImg/ManagICO.png"  
                                PostBackUrl="~/AdminPages/Clients.aspx" Height="60px" />
                        </div>
                    </td>
                    <td align="center" style="width:90%;" >
                        <asp:Image ID="TitleImage" runat="server" ImageUrl="../Eng/Titles/users.png" Height="39px" />
                    </td>
                    <td style="width:5%;" valign="top">
                        <div style="text-align:left; margin-left:10px" >
                          <asp:ImageButton ID="btnLogout" runat="server" ImageUrl="~/Rus/LogOut_ru.png"
                                onclick="btnLogout_Click" Height="60px" />
                           
                         </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" >
                        <div>
                            <asp:ContentPlaceHolder id="based" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </td>
                </tr>
            </table>
           </div>
            <div>
                <asp:ContentPlaceHolder id="ForMenu" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div>
                <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div>
                <asp:ContentPlaceHolder id="ContentPlaceHolder3" runat="server">
                </asp:ContentPlaceHolder>
            </div>

           </div>
           </asp:Panel>
                <div align="center" dir="ltr" class="FooterMenu">
                    <br />
                    All rights reserved to <a href="http://www.thertz-eng.com/eng" style="color: #f1592a; text-decoration: none;">T. Hertz Consulting Engineers Ltd</a>
                   <br />
                </div>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
