﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MemberPage.master.cs" Inherits="MemberPages_MemberPage" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="act" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
    <link href="../StyleSheet.css" rel="Stylesheet" type="text/css" />
    <style type="text/css">
        .auto-style2 {
            height: 20px;
        }
    </style>
</head>
<body>
     <form id="form2" runat="server" style="text-align: center">
<%--        <div style="margin: 0px; height: 20px; background-color: #d3d3d3;" ></div>--%>
        <div align="center" >
       <asp:Panel ID="Panel1" runat="server" Width="940px" BackImageUrl="~/SeenergImg/background.jpg" Height="640px">
<%--                <asp:Image ID="Image1" ImageUrl="~/images/topban.jpg" runat="server" BorderStyle="None"/>--%>
            <br />
            <br />
            <br />
            <div style="align-content:center">
<%--                <a href="../Login.aspx">--%>
                    <img src="../SeenergImg/pics.png" alt="Pics" />&nbsp;&nbsp;&nbsp;
                    <img src="../SeenergImg/logo.png" alt="Alternate Text" />
<%--                </a>--%>
            </div>
            <br />
            <div align="right" dir="rtl">
                <asp:Menu ID="HorMenu" runat="server" Orientation="Horizontal" Font-Names="Arial" BackColor="#f1592a"
                    Font-Size="20px" staticsubmenuindent="30" Width="100%" 
                    dynamichorizontaloffset="60" onmenuitemclick="HorMenu_MenuItemClick" 
                    StaticPopOutImageUrl="none" 
                    DynamicEnableDefaultPopOutImage="False" DynamicPopOutImageTextFormatString="" >

                <staticmenuitemstyle 
                    forecolor="White"
                    HorizontalPadding="30" ItemSpacing="20" 
                    BorderStyle="none" VerticalPadding="5" />

                <DynamicHoverStyle 
                    borderstyle="Solid"
                    borderwidth="2"
                    bordercolor="Gray"/>

                <DynamicMenuItemStyle 
                    BackColor="Gray" 
                    forecolor="White"
                    Font-Size="18px"
                    HorizontalPadding="30" VerticalPadding="6" />
                    <Items >
                        <asp:MenuItem Text="לקוחות" Value="Consumers" NavigateUrl="~/MemberPages/ConsumersList.aspx" >
                        </asp:MenuItem>
                        <asp:MenuItem Text="|"></asp:MenuItem>   
                        <asp:MenuItem Text="נתונים טכניים" Value="0EncVariants" NavigateUrl="#" >
                            <asp:MenuItem Text="נתונים טכניים שבועיים" Value="eData" 
                                NavigateUrl="~/MemberPages/EnchancedParameters.aspx">
                            </asp:MenuItem>
                            <asp:MenuItem Text="נתונים טכניים יומיים" Value="DayData"
                                NavigateUrl="~/MemberPages/DaysParameters.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="נתונים טכניים שעה" Value="HourData"
                                NavigateUrl="~/MemberPages/HourParameters.aspx"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="|"></asp:MenuItem>   
                        <asp:MenuItem Text="התראות" Value="0Alarms" NavigateUrl="#">
                            <asp:MenuItem Text="רשימת התראות" Value="AlarmList" NavigateUrl="~/MemberPages/AlarmsList.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="יומן תקלות" Value="alarmlog" NavigateUrl="~/MemberPages/AlarmLog.aspx"></asp:MenuItem>
                       </asp:MenuItem>
                         <asp:MenuItem Text="|"></asp:MenuItem>   
                       <asp:MenuItem Text="אופטימיזציה" Value="calc" NavigateUrl="#">
                            <asp:MenuItem Text="הצגת גרפים במקביל" Value="EncCompare" 
                                NavigateUrl="~/MemberPages/CompareChart.aspx">
                            </asp:MenuItem>
                            <asp:MenuItem Text="הפסדים במשטר שמירה" Value="EncCalculate" 
                                NavigateUrl="~/MemberPages/CalculateEnergyStore.aspx">
                            </asp:MenuItem>
                        </asp:MenuItem>
                    </Items>
                </asp:Menu>
            </div>

            <div align="center">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div>
            <table width="940px">
               <tr>
                    <td colspan="4" class="auto-style2" >
                     </td>
                </tr>
                <tr>
                    <td rowspan="2" 
                        style="width:120px;" valign="top">
                        <div style="text-align:right; margin-right:10px" >
                            <asp:ImageButton ID="ImgAdmin" runat="server" ImageUrl="~/SeenergImg/ManagICO.png"  
                                PostBackUrl="~/AdminPages/Clients.aspx" Height="60px" />
                        </div>
                    </td>
                    <td align="center">
                        <asp:Image ID="TitleImage" runat="server" ImageUrl="../SeenergImg/Titles/Title-01.png" Height="60px" Width="420px" />
                    </td>
                    <td rowspan="2"  style="width:120px;" valign="top">
                        <div style="text-align:left; margin-left:10px" >
                          <asp:ImageButton ID="btnLogout" runat="server" ImageUrl="~/SeenergImg/ExitICO.png" 
                                onclick="btnLogout_Click" Height="60px" />
                           
                         </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" >
                        <div>
                            <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
                             </asp:ContentPlaceHolder>
                        </div>
                    </td>
                </tr>
            </table>
           </div>
          <div>
                <asp:ContentPlaceHolder id="ContentPlaceHolder3" runat="server">
                    </asp:ContentPlaceHolder>
            </div>
             <div style="height: 10px; " >
            </div>
            <div align="center" dir="rtl" class="FooterMenu">
                <br />
               כל זכויות האתר שמורות לט. הרץ מהנדסים יועצים בע"מ
               <br />
            </div>
            </asp:Panel>
        </div>
                 <asp:Panel ID="pnlMenu" runat="server" Height="85%" Width="106px"  HorizontalAlign="Right"
            BorderStyle="None" Direction="RightToLeft">
            <asp:TreeView ID="tvMenu" runat="server" CssClass="Menu" ImageSet="Msdn" 
                BackColor="White" BorderStyle="None" ExpandDepth="0" NodeWrap="True" 
                Width="107px" onselectednodechanged="tvMenu_SelectedNodeChanged" 
                EnableTheming="False" ShowExpandCollapse="False">
                <HoverNodeStyle Font-Underline="True" ForeColor="#5555DD" />
                <NodeStyle Font-Names="Tahoma" Font-Size="12px" ForeColor="Black" 
                    HorizontalPadding="5px" NodeSpacing="0px" VerticalPadding="0px" 
                    Font-Bold="True" />
                <ParentNodeStyle Font-Bold="False" />
                <SelectedNodeStyle Font-Underline="True" ForeColor="#5555DD" 
                    HorizontalPadding="0px" VerticalPadding="0px" />
            </asp:TreeView>
        </asp:Panel>

    </form>
     </body>
</html>
