﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PrintPages/PrintTitle.master" AutoEventWireup="true" CodeFile="PrintCompare.aspx.cs" Inherits="PrintPages_PrintCompare" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ForPrint" Runat="Server">
    <div align="center">
    <br />
    <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Names="Calibri" Font-Size="X-Large" Text="עלות, ש&quot;ח"></asp:Label>
    <br />
        <p dir='rtl' lang="he" style="text-align: center">
            <asp:GridView ID="GridCompare" runat="server" Font-Names="Calibri" Font-Size="Large">
            </asp:GridView>
        </p>

    </div>
</asp:Content>

