﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PublicPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div  id="D0" runat="server" style="width: 940px">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="bgBoxTable">
                    
                </td>
                <td style="width:300px" >
                </td>
            </tr>
        </table>
        <asp:Image ID="Image1" runat="server" ImageAlign="Right" 
            ImageUrl="~/images/Titles/TitleHome.png" />
        <asp:Image ID="Image2" runat="server" 
            ImageUrl="~/images/Titles/title-home.png" />
    </div>
<div id="D1" runat="server" style="width: 940px">
    <iframe id="IFR" width= "240px" height= "300px" 
        src="http://md2000.com/wordpress/?page_id=42" frameborder="0"></iframe>


<%--    <iframe id="IFI" width= "640px" height= "300px" src="http://md2000.com/wordpress/wp-content/uploads/2013/08/Gall01.png"></iframe>
--%>
    <asp:Image ID="IMI" runat="server" Height="300px" Width="640px" ImageUrl="http://md2000.com/wordpress/wp-content/uploads/2013/08/Gall01.png" />
</div>
    <div>
        <asp:Button ID="b3" runat="server" Height="18px"  style="vertical-align:top; margin-right: 840px"
            Text="3" BorderStyle="None" onclick="b3_Click"  />
        <asp:Button ID="b2" runat="server" Height="18px" 
            Text="2" BorderStyle="None" onclick="b2_Click" /> 
        <asp:Button ID="b1" runat="server" Height="18px"
            Text="1" Width="18px" BorderStyle="None" onclick="b1_Click" />
    </div>
</asp:Content>

