﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PublicPage.master" AutoEventWireup="true" CodeFile="Denied.aspx.cs" Inherits="Denied" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p style="color:Red; font-size:24px;">
        אינך רשאי לראות מידע זה.
    </p>
</asp:Content>

