﻿BODY
{
    font-family:Arial;
    font-size:14px;
    text-align:center;
    direction:rtl;
    margin-top: 0;
    height: 776px;
    width: 1325px;
}
HR
{
    page-break-after:always;
}
        .Banner
        {
            background-image: url(images/topban.jpg);
            background-repeat: no-repeat;
            background-position: center;
            height: 183px;
        }
        .HeaderStyle
        {
            text-align: center;
            background: url(images/BgTitle.png);
            color: #FFFFFF;
            width: 100%;
            height: 30px;
            font-size: 24px;
            font-weight: bold;
            font-family: Arial;
        }
        .HeaderStyleOld
        {
            background-color:#5d7b9d;
            color:White;
            font-size:26px;
            font-weight:bold;
        }
        .TabHeaderStyle
        {
            background-color:#9498a1; 
            color:White;
            font-size:14px;
        }
        .AccordionActiveHeaderStyle
        {
            background-color:#cccccc;
            color:#FEFEFE;
            font-size:18px;
            font-weight:bold;
        }
        .AccordionInactiveHeaderStyle
        {
            background-color:#CCCCCC;
            color:#FEFEFE;
            font-size:18px;
            margin:1px;
            font-weight: normal;
            cursor:pointer;
        }
        .InputFormStyle
        {
            background-color:#f7f6f3;
        }
        .LayoutTable
        {
            border-style: none;
            width: 100%;
            text-align: center;
        }
        .ResultTable
        {
            background-color:#f7f6f3;
            width: 80%;
        }
        .MenuItem
        {
            background-color:#99CC33;
            min-width:150px;
            display:block;
            direction:rtl;
            text-align:right;
            list-style:left;
        }
        
        .DetailsFormView
        {
            padding: 4;
            color: #333333;
        }
        .DetailsFormViewHeader
        {
            color: White;
            background-color: #CCCCCC;
            font-size: 18px;
            font-weight: bold;
        }
        .DetailsFormViewRow
        {
            color: White;
            background-color: #FFFFFF;
            font-size: 18px;
            font-weight: normal;
        }
        .DetailsFormViewLayout
        {
            width: 100%;
            text-align: right; 
            vertical-align: top;
        }
        
        .dback 
        {
	        BOX-SIZING: border-box; 
	        TEXT-ALIGN: center; 
	        WIDTH:80px; 
	        DISPLAY: block; 
	        FONT-FAMILY: arial; 
	        /*BACKGROUND: url(images/dback.gif);*/ 
            background-color:lightgray;
	        FLOAT: right; 
	        HEIGHT: 35px; 
	        COLOR: #334d70; 
	        FONT-SIZE: 14px; 
	        FONT-WEIGHT: normal; 
	        TEXT-DECORATION: none; 
	        PADDING-TOP: 4px; 
	        -moz-box-sizing: border-box
        }
        .dback:hover 
        {
	        COLOR: #996526
        }    
        
        .NewFont1
        {
            font-family: Arial;
            font-size: 18px;
            font-weight: normal;
            text-decoration: none;
            margin-right: 23px;
        }
        .NewFont2
        {
            font-family: Arial;
            font-size: 18px;
            font-weight: normal;
            text-decoration: none;
            color: #0066cc;
        }


@media screen
{ 
   .UnprintedItem
    {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        color: #000000;
        /*background-color: #FFFFFF;*/
        width:100%;
    }
    .HiddenItem 
    {
        display:none;
    }
}
@media print
{
    .UnprintedItem
    {
        display:none;
    }
    .PrintedItem
    {
        display:block;
    }
}

        .MyTabStyle .ajax__tab_header
        {
            font-family: Arial;
            font-size: 18px;
            font-weight:normal;
            background-color: Silver;
            color: Black;
        }
        .MyTabStyle .ajax__tab_header .ajax__tab_outer
        {
            margin: 1px;
            color:Black;
            padding-left: 3px;
            border-width:thin;
            border-color:Black;
            border-style:solid;
        }
        .MyTabStyle .ajax__tab_header .ajax__tab_inner
        {
            color:Black;
            border-width:thin;
            border-color:Black;
            border-style:solid;
        }
        .MyTabStyle .ajax__tab_header .ajax__tab_tab
        {
            border-width:thin;
            border-color:Black;
            border-style:solid;
            color: Black;
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_outer
        {
            border-width:thin;
            border-color:Black;
            border-style:solid;
            color: Black;
            background-color:Silver;
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_inner
        {
            border-width:thin;
            border-color:Black;
            border-style:solid;
            color: Black;
            background-color:Silver;
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_outer
        {
            border-width:thin;
            border-color:Black;
            border-style:solid;
            color: Black;
            background-color:Silver;
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_inner
        {
            border-width:thin;
            border-color:Black;
            border-style:solid;
            color: Black;
            background-color:Silver;
        }
        .MyTabStyle .ajax__tab_body
        {
            font-family: Arial,tahoma,helvetica;
            font-size: 14pt;
            border-top-width: 0;
            background-color: White;
            border: solid 1px #d7d7d7;
        }
.GreyText
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.OrangeText{
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color:#F1592A;
    border-width:2px;
}

.Panel3s
{
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    /*margin-right: 92px;*/
}
.bgUpperMaster
{
    height: 183px;
    background-color: #14499A;
    background: -moz-linear-gradient(top,  #14499A 0%, #29ABE2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14499A), color-stop(100%,#29ABE2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #14499A 0%, #29ABE2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #14499A 0%, #29ABE2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #14499A 0%, #29ABE2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #14499A 0%, #29ABE2 100%); /* W3C */
}
.AtoGreenMenu
{
    font-family: Arial;
    font-size: 21px;
    font-weight:normal;
    font-style:normal;
    color: White; 
    vertical-align:middle;
    text-decoration: none;
/*    color: #371C1C;*/
}
.Menu
{
    background-color: #99CC33;
}

#ctl00_HorMenu ul li ul
{
    display: none;
}

#ctl00_HorMenu ul li 
{
    position: relative; 
    float: right;
    list-style: none;
}

.GreenMenu
{
    text-align: center;
    height: 42px;
    background-color: #99CC33;
    background: -webkit-gradient(linear, left top, left bottom, from(#99CC33), to(#CFE18D));
    background: -webkit-linear-gradient(top, #99CC33, #CFE18D);
    background: -moz-linear-gradient(top, #99CC33, #CFE18D);
    background: -o-linear-gradient(top, #99CC33, #CFE18D);
    background: linear-gradient(to bottom, #99CC33, #CFE18D);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CC33', endColorstr='#CFE18D',GradientType=0 ); /* IE6-9 */
}
.FooterMenu
{
    align-content:center;
    align-items:center;
    align-self:center;
    height:32px;
    border: 0;
    font-family: MyWebFont;
    font-size: 11px;
    color: #f1592a;
    background-color: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#CDCDCD));
    background: -webkit-linear-gradient(top, #F9F9F9, #CDCDCD);
    background:    -moz-linear-gradient(top, #F9F9F9, #CDCDCD);
    background:      -o-linear-gradient(top, #F9F9F9, #CDCDCD);
    background:         linear-gradient(to bottom, #F9F9F9, #CDCDCD);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#CDCDCD',GradientType=0 ); /* IE6-9 */
}
.panLogin
{
    border-width: 2px;
    -webkit-border-radius: 8px;
     border-radius: 8px; 
}
.RoundCornerPanel
{
    border-width:2px;
    border-color:Black;
    text-decoration: none;
    -webkit-border-radius: 12px;
    border-radius: 12px; 
}
.RoundCornerFontBlack
{
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    -webkit-border-radius: 12px;
     border-radius: 12px;
    margin-top: 0px;
}
.bgBoxTable
{
    width: 840px;
    background: -moz-linear-gradient(top,  #6DCDF5 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6DCDF5), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6DCDF5 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6DCDF5 0%, #FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6DCDF5 0%, #FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6DCDF5 0%, #FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6DCDF5', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}
.ButtonRes
{
    font-family: Arial;
    font-size: 14pt;
    height: 28px;
    background-color: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#CDCDCD));
    background: -webkit-linear-gradient(top, #F9F9F9, #CDCDCD);
    background:    -moz-linear-gradient(top, #F9F9F9, #CDCDCD);
    background:      -o-linear-gradient(top, #F9F9F9, #CDCDCD);
    background:         linear-gradient(to bottom, #F9F9F9, #CDCDCD);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#CDCDCD',GradientType=0 ); /* IE6-9 */
}

#menu-mainmenu ul, #menu-mainmenu li 
{
    direction: rtl;
    text-align:right;
    vertical-align:middle;
	display:inline;
	margin: 0;
	padding: 10px;
}
.GreyText
{
    align-self:center;
    align-items:center;
    align-content:center;
    vertical-align:middle;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:40px;
    width:480px;
    font-family:MyWebFont;
    font-size:24px;
}
.OrangeText{
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color:#F1592A;
    border-width:1px;
    font-family:MyWebFont;
    font-size:24px;
}

.MenuOrange {
    display:inline;
    color:white;
    border-style: none;
    font-family:MyWebFont;
    font-size:8px;
    align-content:flex-end;
    height: 37px;
    width: 100%;
}

/*   ul.MenuOrange {
    margin: 0;
    padding: 0px; 
   }
*/

   .AllLi {
    display: inline; 
    margin-right: 1px; 
    border-bottom:none;
    border-right:none;
    border-top:none;
    border-left: 2px solid #FFFFFF; 
    padding: 1px; 
   }
   .LastLi{
    display: inline; 
    margin-right: 1px;
    border:none;
    padding: 1px; 
   }
    .AonLi {
        font-family:MyWebFont;
        font-size:20px;
        font-style:normal;
        color:white;
        text-decoration:none;
    }
    .InLi {
        font-family:MyWebFont;
        font-size:20px;
        font-style:normal;
        color:darkblue;
        text-decoration:none;
    }


@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

.bgStyle{
    background-repeat:repeat-x;
    background-size:auto;
}

